@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f3e5f5;
  background-image: url("bg.png");
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.container {
  -webkit-backdrop-filter: blur(6px) saturate(180%);
  backdrop-filter: blur(6px) saturate(180%);
  background-color: rgba(40, 55, 84, 0.79);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 90%;
  width: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-weight: 600;
  font-size: 1.31rem;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid #ddd;
  color: #000000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c5cae9;
  border-radius: 20px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 20px;
  transition: 0.4s;
}

input[type="checkbox"]:checked+.slider {
  background-color: #089703;
}

input[type="checkbox"]:checked+.slider:before {
  transform: translateX(20px);
}

.pass-length input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background-color: #afabf7;
  background-image: linear-gradient(#6c63ff, #6c63ff);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  outline: none;
  transition: background-size 0.2s ease;
}

.pass-length input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f9f9f9;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 0 1px #6c63ff;
}

.pass-length input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.pass-settings {
  color: #000000;
  font-weight: bold;
}

.wrapper {
  margin: 1.25rem 1.75rem;
}

.wrapper .input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  height: 53px;
  color: #09f3e7;
  background: none;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1.4px;
  border: 1px solid #aaa;
  padding: 0 2.85rem 0 1rem;
}

.input-box span {
  position: absolute;
  right: 13px;
  cursor: copy;
  line-height: 53px;
  color: #707070;
}

.input-box span:hover {
  color: #0cd1ef !important;
}

.wrapper .pass-indicator {
  width: 100%;
  height: 12px;
  background: #e7e0e0;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.pass-indicator::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  transition: width 0.4s ease, background-color 0.4s ease;
  border-radius: 50px;
}

.pass-indicator#veryweak::before {
  width: 15%;
  background: linear-gradient(90deg, #ef9a9a, #f48fb1);
}

.pass-indicator#weak::before {
  width: 50%;
  background: linear-gradient(90deg, #fbc02d, #fff59d);
}

.pass-indicator#moderate::before {
  width: 75%;
  background: linear-gradient(90deg, #ffb74d, #ffcc80);
}

.pass-indicator#strong::before {
  width: 100%;
  background: linear-gradient(90deg, #81c784, #aed581);
}

.pass-indicator#verystrong::before {
  width: 100%;
  background: linear-gradient(90deg, #66bb6a, #b2ff59);
}

.strength-label {
  margin-top: 5px;
  text-align: right;
  font-size: 0.85rem;
  font-weight: bold;
  color:#000000;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.wrapper .pass-length {
  margin: 1.56rem 0 1.25rem;
}

.pass-length .details {
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.pass-settings .options {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.pass-settings .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% / 2);
}

.options .option:first-child {
  pointer-events: none;
  cursor: no-drop;
}

.options .option:first-child input {
  opacity: 0.7;
}

.options .option input {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.options .option label {
  cursor: pointer;
  color: #e042c1;
  padding-left: 0.63rem;
}

.wrapper .generate-btn {
  width: 100%;
  color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.06rem;
  padding: 0.94rem 0;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 0.94rem 0 1.3rem;
  background-image: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 150ms ease;
}

.generate-btn:active {
  transform: translateY(-3%);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}

.github-corner svg {
  position: absolute;
  right: 0;
  top: 0;
  mix-blend-mode: darken;
  color: #eeeeee;
  fill: #353535;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 0.56s;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-20deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

#passwordDisplay {
  font-family: "Poppins";
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
